<a href="https://colab.research.google.com/github/kzeynep/python_giris/blob/main/CodeComplexity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def multiplication(x,y):
  return x*y

In [ ]:
multiplication(10,15000)

150000

In [ ]:
#1'den n'e kadar tüm sayıların karesini alıp toplayan kod :
def square_sum(n):
  sum_variable=0
  for x in range (1,n+1):
    sum_variable +=x**2
  return sum_variable

In [ ]:
square_sum(3)

14

In [ ]:
def square_sum2(n):
  return n*(n+1)*(2*n+1)//6

In [ ]:
square_sum2(3)

14

In [ ]:
# O(1) Constant 
#O(10000)
def contant_big_o(liste):
  print(liste[0])

In [ ]:
contant_big_o([1,2,3,4,5,6,7,8,9,10])

1

In [ ]:
#O(n) Linear
def linear_big_o(liste):
  for value in liste :
    print(value)

In [ ]:
linear_big_o([1,2,3,4,5])

1
2
3
4
5

In [ ]:
#O(n^2) Cubic 
def find_duplicates(liste):
  for i in range(len(liste)):
    for j in range(i+1,len(liste)):
      if liste[i] == liste[j]:
        return True 
  return False

In [ ]:
find_duplicates([1,2,3,4,5,6,6])

True

In [ ]:
#O(n^3) Cubic
def cubic_big_o(liste):
  for item_1 in liste :
    for item_2 in liste :
      for item_3 in liste :
        print(item_1,item_2,item_3)

In [ ]:
cubic_big_o([1,23])

1 1 1
1 1 23
1 23 1
1 23 23
23 1 1
23 1 23
23 23 1
23 23 23

In [ ]:
def linear_big_o(liste):
  for value in liste :
    print(value)
  for value in liste :
    print(value)

In [ ]:
linear_big_o([1,2,3,4])

1
2
3
4
1
2
3
4