<a href="https://colab.research.google.com/github/kzeynep/PythonWorkshop/blob/main/examples2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
class favLanguage :
  def printLine(self,language = 'Python'):
    print(language)

myObject = favLanguage()
myObject.printLine("Java")

Java

In [5]:
class Dog : 
  def __init__(self,name,age):
    self.name = name
    self.age = age

Dog("Coco",3)

In [6]:
class Trading:
  def __init__(self, name, year, owner, description, revenue, expenses, profit):
    self.name = name
    self.year = year
    self.owner = owner
    self.description = description
    self.revenue = revenue
    self.expenses = expenses
    self.profit = profit
    
  def calculate_revenue(self):
    return self.revenue - self.expenses

In [7]:
trading_company1 = Trading('Comtrade', 2002, 'Daniel Ross', 'We revolutionize trading.', 3850, 1720, 1838)
revenue = trading_company1.calculate_revenue()
print(revenue)

2130

In [8]:
class Sales:
  def __init__(self,id):
    self.id = id
    id = 100

val = Sales(123)
print(val.id)

123

In [9]:
class Logistic:
  def __init__(self, name, year, owner, description, inventory_space):
    self.name = name
    self.year = year
    self.owner = owner
    self.description = description
    self.inventory_space = inventory_space
    
  def update_inventory_space(self, new_storage_space):
    self.inventory_space = new_storage_space / 2
    print(f'Inventory space has been changed to {self.inventory_space}!')

In [10]:
logistic_company1 = Logistic('Mccart.co', 1881, 'John Mccarthy', 'New Generation of Technology', 5000)

In [11]:
logistic_company1.update_inventory_space(4500)

Inventory space has been changed to 2250.0!

In [12]:
class Point:
  def __init__(self,x=0,y=0):
    self.x = x+1
    self.y= y+1

p1=Point()
print(p1.x,p1.y)

1 1

In [13]:
def printHello():
  print("Hello")

a = printHello()

Hello

In [14]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [15]:
p1 = Person("Alice", 25)

In [16]:
list1 = ["Ben ","Zeynep","Karabulut"]
list2 = [300,10,500,950,253]

dictionary1 = dict(zip(list1,list2))
print(dictionary1)

{'Ben ': 300, 'Zeynep': 10, 'Karabulut': 500}

In [18]:
Line = "celine with 70 calls, made 2275 dollars and 32$ average deal size in the previous month."
words = Line.split(' ')
print(words[4])

made

In [19]:
liste1 = [1, 2, 3]
liste2 = ['a', 'b', 'c']
birlestirilmis_liste = zip(liste1, liste2)

print(list(birlestirilmis_liste))
# [(1, 'a'), (2, 'b'), (3, 'c')]

[(1, 'a'), (2, 'b'), (3, 'c')]

In [20]:
isimler = ['Ahmet', 'Mehmet', 'Ayşe']
yaslar = [25, 30, 35]
for isim, yas in zip(isimler, yaslar):
    print(f"{isim}'in yaşı {yas}'tir.")

Ahmet'in yaşı 25'tir.
Mehmet'in yaşı 30'tir.
Ayşe'in yaşı 35'tir.